    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    .row.content {}
    
     .sidenav {
      padding-top: 0px;
      
      padding-left: 5px;
     /* background-color: #f1f1f1;*/
      background-color: #f1f1f1;
     
      height: 100%;
    }
    
    footer {
      color: white;
      /*background-color:#337ab7;*/
      padding: 10px;
	  font-size:10px;
    }
    
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }	