    {% include 'header.html' %}
    <div class="col-sm-10 text-left cl-body"  style="background-color:#FFFFFF;"> 
		<div class='col-sm-12'>  
		 <div class="panel panel-primary">
		      
		      <div class="panel-body">
                 
                                 <form method='post' action='#'>
                     <input type="hidden" name="c68ac539fab542ccf5bfe99f964eeb583" value="693e26dffa50216bb51f6b82a18f3e3d" />
                     <table class='table'>
                        <tr>
                            <td><input type='text' name='hsc_roll' placeholder='HSC Roll' class='form-control' ></td>
                            <td><input type='text' name='ssc_roll' placeholder='SSC Roll' class='form-control' ></td>
                            <td><input type='text' name='mobile' placeholder='Mobile' class='form-control' ></td>
                            <td><input type='text' name='applicant_id' placeholder='Applicant Id' class='form-control' ></td>
                        </tr>
                    </table>
                    
                    <button type='submit' class='btn btn-danger'>Search</button>
                 </form>
                
             </div>
             </div>
		</div>
		
		
		
    </div>
  </div>
</div>
{% include 'footer.html' %}

