
<footer  style='background-color:#151B54;' id='cl-footer' class="container-fluid text-center">
  <p>Developed by <a href="https://hafizurfpbd.github.io">Md. Hafizur Rahman</a></p>
</footer>

<script defer src="https://static.cloudflareinsights.com/beacon.min.js/v8c78df7c7c0f484497ecbca7046644da1771523124516" integrity="sha512-8DS7rgIrAmghBFwoOTujcf6D9rXvH8xm8JQ1Ja01h9QX8EzXldiszufYa4IFfKdLUKTTrnSFXLDkUEOTrZQ8Qg==" data-cf-beacon='{"version":"2024.11.0","token":"8b8ad0cf8bb74c5392285d2832e6e406","r":1,"server_timing":{"name":{"cfCacheStatus":true,"cfEdge":true,"cfExtPri":true,"cfL4":true,"cfOrigin":true,"cfSpeedBrain":true},"location_startswith":null}}' crossorigin="anonymous"></script>
</body>


</html>
<script type="text/javascript">

	$(function(){
	    
	      function setWrapperMinHeight() {
            $('#cl-body').css('min-height', window.innerHeight - 120);
                }
            setWrapperMinHeight();
                window.onresize = function() {
            setWrapperMinHeight();
           };
           });
          
	</script>
        <script type="text/javascript">
        $('.confirmation').on('click', function () {return confirm('Are you sure?');});
        </script>
        
        
        