<!DOCTYPE html>
<html lang="en">
<head>
  <title>EDA | Data Analysis</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="#"> 
  
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css"> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/css/bootstrap.min.css" integrity="sha512-Ez0cGzNzHR1tYAv56860NLspgUGuQw16GiOOp/I2LuTmpSK9xDXlgJz3XN4cnpXWDmkNBKXR/VDMTCnAaEooxA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/js/bootstrap.min.js" integrity="sha512-EKWWs1ZcA2ZY9lbLISPz8aGR2+L7JVYqBAYTq5AXgBkSjRSuQEGqWx8R1zAX16KdXPaCjOCaKE8MCpU0wcHlHA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

 <link rel="stylesheet" href="{{ url_for('static',path='css/style.css') }}" >
  

</head>

<body>

<nav class="navbar navbar-success bg-success">
  <div class="container-fluid">
			<div class="col-sm-8">
				<div style="float:left;padding:5px;">
          <div style="padding-top:5px;font-size:20px;color:white;font-weight:bold;">
            📊 EDA-Tool:<br> {{ request.scope.get("route").name }}
            A Web-Based Automated Exploratory Data Analysis System
          </div>
			</div>
			
            <div class="col-sm-4" style="text-align:right;">
            </div>
        </div>
</nav>
  
<div class="container-fluid">    
  <div id="cl-body" class="row content" style="background-color:#f1f1f1;padding-top:5px;">
      
    <div class="col-lg-2 d-grid nav sidenav">

	
		<div class="list-group">
       <a href="/dashboard" class="list-group-item list-group-item-success list-group-item-action"> <i class="bi bi-bank"></i> Dashboard </a>
       <a href="/dataupload" class="list-group-item list-group-item-success list-group-item-action"> <i class="bi bi-check2-square"></i> Data Upload </a>

      {% if request.scope.get("route").name == 'dataprofiling' %}
          <a href="{{ url_for('dataprofiling') }}" class="list-group-item list-group-item-success list-group-item-action active"> <i class="bi bi-check2-square"></i> Data Profiling </a>
      {% else %}
          <a href="{{ url_for('dataprofiling') }}" class="list-group-item list-group-item-success list-group-item-action"> <i class="bi bi-check2-square"></i> Data Profiling </a>
      {% endif %}

      <a href="{{ url_for('univariate-analysis') }}" class="list-group-item list-group-item-success list-group-item-action"> <i class="bi bi-check2-square"></i> Univariate Analysis </a>

      <a href="{{ url_for('bivariate-analysis') }}" class="list-group-item list-group-item-success list-group-item-action"> <i class="bi bi-check2-square"></i> Bivariate Analysis </a>

      <a href="{{ url_for('multivariate-analysis') }}" class="list-group-item list-group-item-success list-group-item-action"> <i class="bi bi-check2-square"></i> Multivariate Analysis </a>

      
      <a href="{{ url_for('outier-detection') }}" class="list-group-item list-group-item-success list-group-item-action"> <i class="bi bi-check2-square"></i> Outlier Detection </a>


      <a href="{{ url_for('visualization') }}" class="list-group-item list-group-item-success list-group-item-action"> <i class="bi bi-check2-square"></i> Visualization </a>
      <hr>

    </div>

  </div>

  <div class="col-sm-10 text-left cl-body"  style="background-color:#FFFFFF;"> 
		<div class='col-sm-12'>  
		 <div class="panel panel-primary">
		      

<!--
<div class="alert alert-danger">
  <div class="stepper">
    <div class="step completed">
      <div class="step-circle">1</div>
      <small>Upload</small>
    </div>

  
    <div class="step completed">
      <div class="step-circle">2</div>
      <small>Data Profiling</small>
    </div>

    <div class="step active">
      <div class="step-circle">3</div>
      <small>Univariate Analysis</small>
    </div>

    <div class="step">
      <div class="step-circle">5</div>
      <small>Bivariate Analysis</small>
    </div>

    <div class="step">
      <div class="step-circle">6</div>
      <small>Multivariate Analysis</small>
    </div>

    <div class="step">
      <div class="step-circle">7</div>
      <small>Outlier Detection</small>
    </div>

    <div class="step">
      <div class="step-circle">8</div>
      <small>Visualization</small>
    </div>
  </div>
</div>
-->