<!DOCTYPE html>
<html lang="en">
<head>
  <title>EDA | Data Analysis</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="#"> 
  
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css"> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/css/bootstrap.min.css" integrity="sha512-Ez0cGzNzHR1tYAv56860NLspgUGuQw16GiOOp/I2LuTmpSK9xDXlgJz3XN4cnpXWDmkNBKXR/VDMTCnAaEooxA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/js/bootstrap.min.js" integrity="sha512-EKWWs1ZcA2ZY9lbLISPz8aGR2+L7JVYqBAYTq5AXgBkSjRSuQEGqWx8R1zAX16KdXPaCjOCaKE8MCpU0wcHlHA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

 <link rel="stylesheet" href="{{ url_for('static',path='css/style.css') }}" >
  

</head>

<body>

<nav class="navbar navbar-success bg-success">
  <div class="container-fluid">
			<div class="col-sm-6">
				<div style="float:left;padding:5px;"><img src="https://jnuadmission.com/logo/jnulogo.jpg" style="height:55px;"></div>
			    <div style="padding-top:5px;font-size:20px;color:white;font-weight:bold;">Jagannath University, Dhaka <br>Admission System</div>
			</div>
			
            <div class="col-sm-6" style="text-align:right;">
            </div>
        </div>
</nav>
  
<div class="container-fluid">    
  <div id="cl-body" class="row content" style="background-color:#f1f1f1;padding-top:5px;">
      
    <div class="col-lg-2 d-grid nav sidenav">

	
		<div class="list-group">
       <a href="https://jnuadmission.com/adminx/home/10001/6c447a8fe7677ddc4c4cd2efddcfe650e4e6c706.jsp" class="list-group-item list-group-item-success list-group-item-action"> <i class="bi bi-bank"></i> Dashboard </a>
       <a href="https://jnuadmission.com/adminx/complain/10001/6c447a8fe7677ddc4c4cd2efddcfe650e4e6c706.jsp" class="list-group-item list-group-item-success list-group-item-action"> <i class="bi bi-check2-square"></i> Complain Box </a>
       <a href="https://jnuadmission.com/adminx/applicantlists/10001/6c447a8fe7677ddc4c4cd2efddcfe650e4e6c706.jsp" class="list-group-item list-group-item-success list-group-item-action"> <i class="bi bi-check2-square"></i> Applicant Data </a>
       
        <hr>
        <a href="https://jnuadmission.com/portal/logout/c780de0d3ac3c245b859f5a2b8e4782ec30f8e3d.jsp" class="list-group-item list-group-item-success list-group-item-action"> <i class="bi bi-box-arrow-left"></i> Logout</a>
       </div> 
		
    </div>