{% include 'header.html' %}
    <div class="panel-body">         
        <div class='row'>                     
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header bg-info text-white" style='font-size:17px;font-weight:bold;'>
                         {{ request.scope.get("route").name.replace("-"," ").capitalize() }}
                     </div>
                    <div class="card-body table-responsive">
                        

                      
                    </div>
                </div>
            </div>
        </div>           
    </div>
{% include 'footer.html' %}